server:
  port: 443 #SSL端口
  ssl:
    key-store: classpath:www.win-guang.com.pfx
    key-store-password: @ssl.key.password@
    key-store-type: PKCS12
  tomcat:
    uriEncoding: UTF-8

spring:
  mvc:
    view:
      prefix: /view/
      suffix: .html
  datasource:
    url: @db.url@
    username: @db.username@
    password: @db.password@
    driver-class-name: com.mysql.jdbc.Driver
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    filters: stat
    maxActive: 20
    initialSize: 5
    maxWait: 60000
    minIdle: 10
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
    maxPoolPreparedStatementPerConnectionSize: 20
  redis:
    # database: 0 # Redis数据库索引（默认为0）
    # Redis服务器地址
    host: @redis.host@
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password: @redis.password@
    jedis:
      pool:
        # 连接池最大连接数（使用负值表示没有限制）
        max-active: 300
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池中的最小空闲连接
        min-idle: 0
    # 连接超时时间(毫秒)
    timeout: 1000
  rabbitmq:
    addresses: @rabbitmq.addresses@
    virtual-host: spiders
    username: @rabbitmq.username@
    password: @rabbitmq.password@
    publisher-returns: true
    listener:
      simple:
        concurrency: 1
        max-concurrency: 10
  mail:
    to-mail: @mail.to-mail@



##############################  mybatis  ################################
#mybatis:
#  mapperLocations: classpath:mapper/*.xml
#  typeAliasesPackage: com.example.demo.entity
#########################################################################

################################  分页  ##################################
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
#########################################################################

################################  log  ##################################
logging:
  level:
    root: info
#########################################################################
