server:
  port: 9527
  useForwardHeaders: true
  tomcat:
    uriEncoding: UTF-8
  session:
    timeout: 36000

spring:
  datasource:
    url: jdbc:mysql://47.105.185.111:3306/spiders
    username: root
    password: '!QAZ1qaz'
    driverClassName: com.mysql.jdbc.Driver
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    filters: stat
    maxActive: 20
    initialSize: 5
    maxWait: 60000
    minIdle: 10
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
    maxPoolPreparedStatementPerConnectionSize: 20
  redis:
    # database: 0 # Redis数据库索引（默认为0）
    # Redis服务器地址
    host: 47.105.185.111
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password: anyone
    jedis:
      pool:
        # 连接池最大连接数（使用负值表示没有限制）
        max-active: 300
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池中的最小空闲连接
        min-idle: 0
    # 连接超时时间(毫秒)
    timeout: 1000
  rabbitmq:
    addresses: 47.105.185.111:5672
    virtual-host: spiders
    username: root
    password: root
    publisher-confirms: true
    publisher-returns: true
    listener:
      simple:
        concurrency: 1
        max-concurrency: 10



##############################  mybatis  ################################
#mybatis:
#  mapperLocations: classpath:mapper/*.xml
#  typeAliasesPackage: com.example.demo.entity
#########################################################################

################################  分页  ##################################
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
#########################################################################

################################  log  ##################################
logging:
  file: logger.log
  level: debug
#########################################################################
