<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>宇宙第一帅的小玩意</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/static/js/base/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="agreement-title fw">宇宙第一帅的小玩意</div>
    <div class="agreement-content">
        <button class="agreement-content" id="lottery">双色球</button>
        <div><p th:text="${key}"/></div>
    </div>
</div>
</body>
</html>