server:
  port: 30918
  useForwardHeaders: true
  tomcat:
    uriEncoding: UTF-8
  session:
    timeout: 36000

spring:
  datasource:
    url: jdbc:mysql://47.105.185.111:3306/spiders
    username: root
    password: '!QAZ1qaz'
    driverClassName: com.mysql.jdbc.Driver
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    filters: stat
    maxActive: 20
    initialSize: 5
    maxWait: 60000
    minIdle: 10
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
    maxPoolPreparedStatementPerConnectionSize: 20
  # redis
#  redis:
#    # Redis数据库索引（默认为0）
#    database: 0
#    # Redis服务器地址
#    host: 172.16.234.134
#    # Redis服务器连接端口
#    port: 6379
#    # Redis服务器连接密码（默认为空）
#    password:
#    # 连接池最大连接数（使用负值表示没有限制）
#    max-active: 300
#    # 连接池最大阻塞等待时间（使用负值表示没有限制）
#    max-wait: -1
#    # 连接池中的最大空闲连接
#    max-idle: 8
#    # 连接池中的最小空闲连接
#    min-idle: 0
#    # 连接超时时间（毫秒）
#    timeout: 0

##############################  mybatis  ################################
#mybatis:
#  mapperLocations: classpath:mapper/*.xml
#  typeAliasesPackage: com.example.demo.entity
#########################################################################

################################  分页  ##################################
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
#########################################################################

################################  log  ##################################
logging:
  file: logger.log debug
  level: debug
#########################################################################
